<form action="/api/notes/post" method="POST">
    <h1 for="title">Blog</h1>
    <input type="text" class="form-control" id="title" name="title"></input>
    <p for="text">Blog content</p>
    <textarea class="form-control" id="notes" name="notes" rows="3"></textarea> 
    <button>Submit</button>
</form>