 <form>
  <div id ='NOTES'></div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Blog</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Blog title">
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Blog content</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    <input type="submit" form="id_of_the_form" value="Submit"> 
    <input type="submit" form="id_of_the_form" value="delete">
    <input type="submit" form="id_of_the_form" value="update">    
  </div>
</form>