 <form>
  <div id ='NOTES'></div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Blog</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Blog title">
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Blog content</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    <button type="submit" onclick= "techblogform" id="input">Post</button>
    <button type="submit" onclick= "deleteform" id="erase">Delete</button>
    <button type="submit" onclick= "updateform" id="advancement">Update</button>
    
    
      
  </div>
</form>

<script src="./js/dashboard.js"></script>