<form action="/api/notes/{{note.dataValues.id}}" method="PUT">
    <h1 for="title">Blog</h1>
    <input type="text" class="form-control" id="title" name="title" value="{{note.dataValues.title}}"></input>
    <p for="text">Blog content</p>
    <textarea class="form-control" id="notes" name="notes" rows="3" value="{{note.dataValues.notes}}"></textarea> 
    <button>Update</button>
    <div>
        <button><a class="delete" data-doc="{{note.dataValues.id}}">Delete</a></button>
    </div>
    <script>
        const trash= document.querySelector('a.delete')
        console.log(trash.dataset.doc)
        trash.addEventListener('click',(e)=>{
            e.preventDefault()
            //console.log('roberto')
            const endpoint=`/api/notes/${trash.dataset.doc}`
            console.log(endpoint)
            fetch(endpoint,{
                method:'DELETE'
            })
            .then((response)=> window.location.href = '/dashboard')
            .catch(err=> console.log(err))
            })
    </script>
</form>
